@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    //var UserInfo = UserServices.GetInfoCustomer();
}
@using QuanLyCTDT.Commons
@using QuanLyCTDT.Extentions
@model List<DTO.Category.CategoryDTO>
<div class="account-management">
    @Html.Partial("_breadcrumb", new Dictionary<string, string>
       { { "Home", "Home" }, { "CategoryManagement", "Quản lý nhóm vật tư" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("New", "CategoryManagement") }, { "mShowButton", "true" } })
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive m-t-40">
                        <table id="config-table" class="table display table-bordered table-striped no-wrap">
                            <thead>
                                <tr>
                                    <th style="max-width:20px !important;">No.</th>
                                    <th>Tên nhóm vật tưu</th>
                                    <th style="width:5%;">Tùy chỉnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var No = 0;
                                    foreach (var item in Model)
                                    {
                                        No = No + 1;
                                        <tr>
                                            <td>@No</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <div class="btn-group btn-group-2 pull-right">
                                                    <a href="@Url.Action("Edit","CategoryManagement", new { Id = item.Id })" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Cập nhật thông tin user">
                                                        <i class="fas fa-fw fa-pencil-alt text-success"></i> &nbsp;
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="ConfirmSwalMessage('Bạn Có Chắc Muốn Xoá ','', 'Đồng Ý', 'Huỷ','@Url.Action("Destroy", "CategoryManagement", new { Id = item.Id })')" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Xoá thông tin user">
                                                        <i class="fa fa-fw fa-trash text-danger"></i> &nbsp;
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#config-table').DataTable({
        responsive: true
    });
</script>